@import 'node_modules/normalize.css/normalize.css';

/*linking custom font*/
@font-face {
    font-family: "BabasNeue"; 
    src: url(../signup-form/Fonts-Images/BebasNeue-Regular.otf);
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.rows {
    display: flex;
}

.left {
    width: 40%;
    position: absolute;
    left: 0px;
    height: 100%;
    background: url(Fonts-Images/unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logobox {
    font-family: "BabasNeue";
    font-size: 450%;
    color: white;
    background-color: rgba(0, 0, 0, 0.253);
    height: 15%;
    width: 80%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 3px;
}

#logo img {
    height: auto;
    width: 4rem;
}

#credit {
    position: absolute;
    bottom: 10px;
    color: rgb(214, 214, 214);
    font-size: smaller;
}

#credit a {
    color: rgb(238, 238, 238);
}

.right {
    width: 60%;
    position: absolute;
    right: 0px;
    height: 100%;
    background-color: rgb(236, 236, 236);
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    text-align: left;
    padding-left: 5%;
    width: 70%;
    height: 40%;
    top: 0;
    color: rgb(41, 41, 41);
}

.formbox {
    background-color: white;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.281);
    height: 35%;
}

form {
    width: 75%;
    color: rgb(41, 41, 41);
}

fieldset {
    border-color: transparent;
}

legend {
    color: rgb(41, 41, 41);
    padding-left: 9%
}

label, input{
  display:flex;
  flex-direction:column;
  margin-top: 2px;
}

label {
    font-size: small;
}

input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 4px 6px;
}

input:focus {
    border: solid rgb(120, 188, 252);
    box-shadow: 0px 2px 2px rgb(0, 0, 0);
}

#nameForm {
    display: flex;
    justify-content: space-around;
    padding: 3px;
}

#contactForm {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

#passForm {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 3px;
}

.pass:invalid{
    border: 1px solid red
}